@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply mx-auto w-[80%]
  }

  * {
    outline: none;
  }

  .border-top-a {
    position: relative;
    height: 100%;
    z-index: 1000;
  }

  .border-top-a::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 4px;
    border-radius: 0 0 4px 4px;
    background-color: #A30041;
    opacity: 0;
    transition: all 300ms ease;
  }

  .border-bla {
    border: 2px solid #A30041;
    color: #A30041;
  }

  .section_1 {
    background-image: url(./pages/Rectangle.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .border-bla-2 {
    border: 2px;
    border-color: transparent;
  }

  .border-top-a:hover::before {
    opacity: 1;
  }
}